<p style="color: green"><%= notice %></p>

<h1 data-btn-target="github">yes_or_no</h1>

<div data-controller="axios">
  <div class="btn btn-primary m-5"  data-action="click->axios#yes_or_no">
  ボタン
  </div>
  <div data-axios-target="answer" class="m-5">ここに表示されます</div>
  <img data-axios-target="image" alt="Yes or No image" class="m-5" src="" />
</div>
