<p style="color: green"><%= notice %></p>

<h1 data-btn-target="github">hyuga</h1>

<div data-controller="btn">
  <div class="btn btn-primary m-5"       data-btn-target="btn" data-action="click->btn#change_color click->btn#github">
  ボタン
  </div>
</div>


<div id="memos">
  <% @memos.each do |memo| %>
    <%= render memo %>
    <p>
      <%= link_to "Show this memo", memo %>
    </p>
  <% end %>
</div>

<%= link_to "New memo", new_memo_path %>
